PORT=
ATLAS_URI=
DB_NAME=
SECRET_KEY=
ENCRYPT_SECRET_KEY=
TEST_SERVER_URI=
TEST_BEARER_TOKEN=
TEST_USER_ID=
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=kkpartners@equameridianholdings.com
SMTP_PASS=your_smtp_password
SMTP_FROM=kkpartners@equameridianholdings.com