PORT=
ATLAS_URI=
DB_NAME=
SECRET_KEY=
ENCRYPT_SECRET_KEY=
TEST_SERVER_URI=
TEST_BEARER_TOKEN=
TEST_USER_ID=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=equameridianholdings@gmail.com
SMTP_PASS=fmbfodtphsrzntba
SMTP_FROM=equameridianholdings@gmail.com