@if (submitting()) {
  <app-loader />
}
<div class="card">
  <div class="header items-start">
    <div class="brand">
      <h2>Forgot Password?</h2>
      <p><small class="p-4 font-light text-sm italic">Please enter a registered email below and click send link. You'll be instructed in your email on how to change your password.</small></p>
    </div>
    <button type="button" (click)="closeModal()" class="text-xl rounded-full text-gray-500 hover:bg-blue-300 transition-all ease-in-out">X</button>
  </div>

  <form #loginForm (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="tenant@example.com"
        class="form-control"
        [(ngModel)]="email"
        (input)="markTouched($event)"
        required
      />
    </div>

    <div class="form-actions">
      <button type="submit" class="btn-primary" [disabled]="!isFormValid()">Send link</button>
    </div>

  </form>
</div>
